# 1. Mac 운영체제 
.DS_Store
._*

# 2. Maven 빌드 결과물 (가장 중요)
# 컴파일된 클래스 파일(.class)이나 war 파일은 소스 코드가 아니므로 올리면 안 됩니다.
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml

# 3. Eclipse IDE 설정 파일
.classpath
.project
.settings/
bin/

# 4. 로그 파일
*.log

*.properties